<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .FunctionForm {
            display: none;
        }
        
        .Result {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Sample Function<h1>
    <div>
        <button id="showFunction1Button">Function1</button>
    </div>
    <div id="function1Form" class="FunctionForm" data-result="{{ result }}">
        <form id="calculationForm" action="/calculate" method="post">
            <label for="number1">Number1:</label>
            <input type="text" id="number1" name="number1"><br><br>
            <label for="number2">Number2:</label>
            <input type="text" id="number2" name="number2"><br><br>
            <button id="answer" type="submit">Calculate</button>
        </form>
        
        {% if result %}
        <h2 class="Result">Result: {{ result }}</h2>
        {% endif %}
    </div>

    <script src="/static/script.js"></script>
</body>
</html>